# compiled output
/dist
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# Tests
/coverage
/.nyc_output

# IDE
/.idea
/.vscode/*
!/.vscode/extensions.json
*.swp

# Env
.env
.env.local
.env.*.local

# Deps
/node_modules